<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">

<p>You have {{cart.totalItemsCount}} items in your shopping cart.</p>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of cart.items">
            <tr *ngIf="item.quantity != 0" >
                <td>{{item.product.title}}</td>
                <td>
                    <product-quantity [product] = 'item.product' [shopping-cart]="cart"></product-quantity>
                </td>
                <td>{{item.totalPrice | currency: USD}}</td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th>{{cart.totalItemsCount}}</th>
            <th>{{cart.totalPrice | currency: USD}}</th>
        </tr>
    </tfoot>
    
</table>
    <button class="btn btn-danger btn-sm" (click)='clearCart()'> Clear Shopping Cart</button>
</ng-container>