@import "~@angular/material/_theming";
@include mat-core();

$table-primary: mat-palette($mat-blue-gray, 500);
$table-accent: mat-palette($mat-amber, 500);
$table-warn: mat-palette($mat-red);
$table-theme: mat-light-theme($table-primary,$table-accent, $table-warn);

@include angular-material-theme($table-theme);
@include mat-paginator-theme($table-theme);
.mat-select-value{
  color: #ccc;
}
table {
    width: 100%;
    table-layout: fixed;  
}

th, td{
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}